<div class="login" align="center">
  <form action="" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
    <!-- <div *ngFor="let loginField of fields">
      <app-input [name]="loginField" [inputForm]="managementFormLogin"></app-input>
    </div> -->
    <!-- <p-scrollPanel [style]="{width: '100%', height: '200px'}">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repudiandae ullam obcaecati quas saepe, ipsum labore. A veritatis cum natus saepe, sunt ipsum rerum nemo odio dicta dolorem nesciunt quidem.
  </p-scrollPanel> -->
    <div align="center">
      <p class="pInfo">Username: </p>
      <div class="p-grid">
        <div class="p-col">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"></span>
            <input formControlName="username" type="text" pInputText placeholder="login">
          </div>
        </div>
      </div>
      <p class="message" *ngIf="f.username.errors">Minimum 5 characters required for login</p>
    </div>
    <p class="pInfo">Password: </p>
    <div class="p-grid">
        <div class="p-col">
          <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"></span>
    <input formControlName="password" type="password" pPassword placeholder="password" />
    </div>
    </div>
    </div>
    <p class="message" *ngIf="f.password.errors">Minimum 5 characters required for password</p>
    <br>
    <button type="submit" [disabled]="!formLogin.valid" routerLink="/table" pButton label="SubmitChanges" class="ui-button-rounded ui-button-success"></button>
    <pre>
          {{formLogin.value | json}}
          {{formLogin.status | json}}
    </pre>
  </form>
</div>
  <div class="ui-g-12 ui-md-4">
      <p-scrollPanel [style]="{width: '100%', height: '200px'}">
          <div style="padding:1em;line-height:1.5">
              The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His beloved
              son Michael has just come home from the war, but does not intend to become part of his father's business.
              Through Michael's life the nature of the family business becomes clear. The business of the family is just
              like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence
              whenever anything stands against the good of the family. The story begins as Don Vito Corleone, the head
              of a New York Mafia family, oversees his daughter's wedding. His beloved son Michael has just come home from
              the war, but does not intend to become part of his father's business. Through Michael's life the nature of
              the family business becomes clear. The business of the family is just like the head of the family, kind and
              benevolent to those who give respect, but given to ruthless violence whenever anything stands against the
              good of the family.
              <hr>
          </div>
      </p-scrollPanel>
  </div>
  <button type="text" pButton label="Basic" (click)="op.toggle($event)"></button>
  <p-overlayPanel styleClass="right-overlay" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #op>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque provident repellat consequuntur rerum aspernatur quae unde, a, dignissimos odio modi delectus dicta maiores ratione inventore doloremque cum ex ad molestiae?</p>
</p-overlayPanel>
  

