.ui-inputgroup{
    width: 150px !important;
}
.center{
    margin-top: 45vh;
}
.ui-button-rounded{
    margin-left: 10px !important;
}
.editForm{
    margin-top: 35vh;
}
.message{
    width: 20%;
    background-color: brown;
    color: white;
    font-style: oblique;
    animation: 2s alertAnim forwards;
    margin-left: calc(44% + 2px);
}
@keyframes alertAnim {
    from {
        opacity:0;
        transform: translateY(-20px);
    }
    to {
        opacity:1;
        transform: translateY(0);
    }
}
.row{
    margin-left: 5%;
}
.formAlign{
    margin-left: 45%;
}
/* .center{
    margin-top: 45vh;
    margin-left: 45%;
} */