<div class="center">
<form [formGroup]="addForm" action="">
  <div class="formAlign">
        <div class="p-grid">
          <div class="p-col">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"></span>
              <input formControlName="name" type="text" pInputText placeholder="name">
            </div>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"></span>
              <input formControlName="number"  type="text" pInputText placeholder="number">
            </div>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col">
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"></span>
              <input formControlName="type" type="text" pInputText placeholder="type">
            </div>
          </div>
        </div>
      </div>
        <p class="message" *ngIf="addForm.invalid">Minimum 5 characters required for submit changes</p>
        <br>
          <div class="row" align="center">
                <button (click)="add()" [disabled]="addForm.invalid" routerLink="/table" pButton type="button" label="Add"
                class="ui-button-rounded ui-button-warning"></button><br><br>
                <button (click)="reset()" routerLink="/table" pButton type="button" label="Default values"
                class="ui-button-rounded ui-button-danger"></button>
          </div> 
        <pre align='center'>
                {{addForm.value | json}}
                {{addForm.status | json}}
            </pre>
      </form>  
    </div>