<div [formGroup]="inputForm" action="">
  <div class="p-grid">
    <div class="p-col">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"></span>
        <input  formControlName="{{ name }}" type="text" pInputText placeholder=" {{name}} ">
      </div>
    </div>
  </div>
</div>

























<!-- 
<form [formGroup]="inputForm" action="">
  <div class="center" align="center">
    <div class="ui-g">
    <div class="ui-g-12">
    <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
        <input formControlName="login" type="text" pInputText placeholder="Username">         
    </div>
  </div>
  </div>
    <div class="p-grid">
      <div class="p-col">
          <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
              <input formControlName="password" type="password" placeholder="Password" pPassword />       
          </div>
          <div class="ui-g-12 ui-md-12">
              <button pButton type="button" label="Log in" class="ui-button-rounded"></button>
          </div>  
      </div>            
    </div>      
</div>
</form> -->
